.rating_container {
    position: fixed;
    top: 4em;
    left: 0;
    min-height: 100vh;
    background-color: #0018;
    backdrop-filter: blur(3px);

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    transition: transfom 100ms ease;
    z-index: 1;

}
.rating_close {
    transform: scale(0);
}
.rating_article {
    
    width: 18em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.1em;
    background-color: rgba(231, 226, 226, 0.556);
    border-radius: 1em;
    z-index: 1;
    
} 
.rating_x {
    position: relative;
    margin-left: 16em;
    top: 1em;
    cursor: pointer;
}
.rating_title {
    color: red;
}
.rating_container_img_namehotel {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  
}
.rating_img {
    width: 70%;
    border-radius: 1em;
}
.rating_namehotel {
    text-align: center;
}
.rating_ul_date {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.rating_li_item {
    color: black;
    font-weight: 300;
    line-height: 0em;
    padding-left: 1em;
}

.rating_form_star{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
   
}
.rating_label_star {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;

}
.tating_title_rating {
    position: relative;
    
    text-align: start;
}
.rating_select_star {
    width: 100%;
    height: 2em;
   
}
.rating_comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.rating_span_comments {
    margin-left: 2em;
}
.rating_textarea {
    position: relative;
    margin-left: auto;
    margin-right: auto;
   width: 90%;
   height: 7em; 
   border-radius: 1em;
   pointer-events: none;

}
.rating_btn {
    width: 50%;
    background-color: rgb(237, 43, 43);
    height: 2em;
    color: white;
    font-weight: 300;
    margin-bottom: 3em;
    margin-top: 1em;
    transition: transform 300ms ease;
    
    &:hover {
        transform: scale(1.1);

    }
}
