.login_container_phader {
    width: 100%;
    margin-top: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
 
    
}

.login_user_registered {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}


.login_user_registered_img {
    width: 10em;      
}
.login_user_name {
 font-weight: 500;
}
.login_user_name_data {
    color: red;
    font-weight: 600;
}
.login_user_btn {
    color: red;
    border: solid #f65858;
    border-radius: 1em;
    width: 8em;
    padding: 0.5em;
    transition: transform 300ms ease;
    
    &:hover {
        transform: scale(1.1);
    }
}

.login_container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  
}
.login_img {
    margin-top: 2em;
    width: 6.5em;


}
.login_form {
    width: 80%;
    height: 25em;
    max-width: 22em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;

}
.login_form_title {
    font-size: 1.7em;
    position: relative;
    bottom: 2em;
    color: red;
}
.login_div_inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    position: relative;
    bottom: 1em;

}
.login_form_label {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
}
.login_form_span {
    text-align: start;
    margin-left: 1.8em;
    margin-bottom: 0.3em;
}
.login_form_input {
    width: 90%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    border: solid #3332;
}
.login_btn_submit {
    width: 90%;
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
    transition: transform 300ms ease;
    
    &:hover {
        transform: scale(1.1);
    }
}